*{
    margin: 0;
    padding: 1px;
}
h4{
    text-align: center;
    color: purple;
}
h1{
    text-align: center;
    color: aqua;
}
span{
    font-style: oblique;
}
u{
    font-weight: bold;
}
.contact-info{
    padding: 16px;
    font-weight: bold;
    font-style: oblique;
    font-size: 16pxs;
}
b{
    font-weight: bold;
}
a{
    font-weight: bold;
    font-style: italic;
}
.desscription{
    font-weight: bold;
    font-style: oblique;
    font-size: 16pxs;
}
.a{
    text-align: center;
    color: burlywood;
}
.info{
    padding-left: 210px;
    background-image: url(1.jpg);
    height: 250px;
    background-repeat: no-repeat;
}
input{
    width: 400px;
    padding: 20px;
    color: blueviolet;
}
input::placeholder{
    padding-left: 20px;
    color: green;
    font-size: 20px
}
.b{
    text-align: center;
    color: blanchedalmond;
    padding: 10px
}
.pps{
    text-align: center;
}