/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
}
.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 80px;
    
}
.header h1{
    color: #22202E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 25px;
}
.nav{
    margin-left: 167px;
    margin-top: 29px;
    margin-bottom: 23px;
}
.nav a{
    text-decoration: none;
    color: #726E8D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    text-decoration: none;
    padding-right: 44px;
    
}
.nav1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 149px;
}
.nav1 img{
    padding-right: 16px;
}
.img{
    margin: 0 0 47px 80px;
    padding-top: 50px;
}
.details{
    background: var(--Light-Grey, #F9F9F9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.toptext{
    padding: 65px 0 0 65px; 
}
.toptext p{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    padding-top: 16px;
}
.toptext img{
    padding-top: 36px;
    padding-bottom: 24px;
}
.skript{
    padding-left: 67px;
}
.skript h1{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin: 0;
}
.skript p{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    padding-top: 14px;
    padding-bottom: 22px;
    max-width: 498px;
}
.dimen{
    padding-left: 65px;
}
.dimen h1{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin: 0;
    padding-bottom: 24px;
}
.dimen h2{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin: 0;
    padding-bottom: 15px;
    padding-bottom: 9px;
}
.dimen1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.Height{
    padding-right: 81.5px;
}
.Width{
    padding-right: 78.5px;
}
.Quantitity{
    padding-left: 65px;
    padding-bottom: 28px;
}
.Quantitity h1{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin: 0;
    padding-bottom: 12px;
}
.Stepper{
    background: var(--White, #FFF);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 122px;
    padding: 12px 16px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.Stepper p{
    color: var(--Border-Grey, #EBE8F4);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}
.Stepper h2{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}
.CTAS{
    padding-left: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.CTAS0{
    background: var(--Dark-Primary, #2A254B);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none;
    margin-right: 16px;
}
.CTAS1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background: var(--White, #FFF);
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    border: none;
}
.list button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    border: none;
    background-color: var(--Light-Grey, #F9F9F9);
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    margin-top: 41.5px;
    margin-bottom: 44px;
    margin-left: 635px;
}
.listdown{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 80px;
    gap: 20px;
}
.listdown p{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */   
    margin-top: 24px;
}
.list h1{
    color: #2A254B;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    padding-left: 80px;
    margin: 0px;
    padding-top: 64px;
    padding-bottom: 24.5px;
}
.features h1{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    margin: 0;
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 25px;
}
.features1{
    background: var(--Light-Grey, #F9F9F9);
    margin-right: 22px;
    padding: 48px;
    margin-bottom: 42px;
}
.featuresdown{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 80px;
}
.features1 h3{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
    padding-top: 12px;
    padding-bottom: 12px;
}
.features1 p{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    }
.email{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.emailleft h1{
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    margin: 0;
    padding-top: 71px;
    padding-bottom: 26px;
    padding-left: 142px;
}
.emailleft h2{
    color: var(--Dark-Primary, #2A254B);
    padding-left: 75px;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    padding-bottom: 208px;
}
.emaildown{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: flex;
    padding: 0 159px 0ss 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    background: var(--Light-Grey, #F9F9F9);
    margin-left: 72px;
}
.emaildown p{
    color: var(--Dark-Primary, #2A254B);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    opacity: 0.2;
    padding: 0 159px 0 32px;
}
.emaildown button{
    background: var(--Dark-Primary, #2A254B);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}
.footer{
    background: var(--Dark-Primary, #2A254B);
}
.footertop{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 58px;
    padding-left: 82px;
    padding-bottom: 56px;
}
.footeremail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 50px;
}
.footeremail button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 32px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    background: var(--White, #FFF);
    color: #2A254B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}
.footeremail p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 472px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    padding-left: 32px;
}
.footertop h3{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 28px */
    padding-bottom: 12px;
}
.menu p{
    padding-right: 90px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    padding-bottom: 12px;
}
.сategories p{
    padding-right: 119px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    padding-bottom: 12px;
}
.оurcompany p{
    padding-right: 94px;
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    padding-bottom: 12px;
}
.footerimg{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 24px;
}
.footerdown{
    color: var(--White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    padding-bottom: 50px;
    padding-left: 80px;
}
.footdown{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.footerdownimg img{
    padding-right: 24px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.footerdownimg{
    padding-left: 784px;
}