*{
    margin: 0;
    padding: 1px;
}
h1, h2{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
em{
    font-weight: bold;
}
li{
    padding: 50px 250px;
}
.e{
    background-image: url(1.jpg);
    background-repeat: no-repeat;
}
.r{
    background-image: url(2.jpg);
    background-repeat: no-repeat;
}
.t{
    background-image: url(3.jpg);
    background-repeat: no-repeat;
}
.y{
    background-image: url(4.jpg);
    background-repeat: no-repeat;
}