*{
    margin: 0;
    padding: 0;
}
.down{
    background-image: url(images/1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: auto;
    max-width: 100%;
    padding: 10% 0;
}
.mark{
    background-color: #334B35;
    display: flex;
    width: 100%;
    flex-direction: column;    
}
.relax{
    background-image: url(images/2.png);
    width: 100%;
    height: 694px;
}
.pon{
    background-color: #334B35;
    text-align: center;
    padding-bottom: 2%;
}
.a{
    color: #FFF;
    font-family: Livvic;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.b{
    color: #FFF;
    font-family: Livvic;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 526px;
    height: 88px;
}
.c{
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 730px;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
}
.down1{
    margin: auto;
    max-width: 75%;
    width: 100%;
    position: relative;
}

.downWrapper{
    position: relative;
    width: fit-content;
}
.mark2{
    margin-top: 100px;
    display: inline-block; 
    align-items: middle;
    gap: 20px;
    text-align: center;
}
h1{
    color: #F7C35F;
    font-family: Livvic;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 633px;
    height: 88px;
    margin-top: 37px;
}
button{
    border-radius: 20px;
    background: #F7C35F;
    display: flex;
    padding: 25px 50px;
    align-items: flex-start;
    gap: 10px;
    border: none;
}
.dura{
    position: absolute;
    right:-10px;
    top:-22px;
}
.q{
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.w{
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cards{
     width: 100%; 
    margin-top: 100px;
    margin: 5% auto;
    max-width: 75%;
}
.card{
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    padding: 2% 0;
    margin: 1%;
    display: inline-block;
    border-radius: 15px;
    background: #445945;
}
.card p{
    width: 108px;
    color: white;
    text-align: center;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto;
}
.card img{
display: block;
width: 60px;
height: 60px;
margin-top: 50%;
margin: auto;
}
.relax p{
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 240px;
    padding-top: 284px;
}
.p{
    color: #FFF;
    font-family: Livvic;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
    padding-top: 130px;
}
.o{
    color: #FFF;
    font-family: Livvic;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
}
.f{
    width: 318px;
    height: 350px;
    margin-top: 100px;
    margin-left: 239px;
}
.cards4{
    width: 100%;
    margin: 2% auto;
}
.card4{
    width: 318px;
    height: 350px;
    display: inline-block;
    margin: 1%;
    border-radius: 10px;
    position: relative;
}
.card4:nth-child(1){
    background-image: url(images/card1.svg);
    }
.card4:nth-child(2){
    background-image: url(images/card2.svg);
}
.card4:nth-child(3){
    background-image: url(images/card3.svg);
}
.card4:nth-child(4){
    background-image: url(images/card4.svg);
}
    
.card4-txt{
    height: 66px;
    position: absolute;
    top: 264px ;
    left: 25px;
}
.ct1{
    color: #F7C35F;
    
    font-family: Livvic;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ct2{
    color: #FFF;
    width: 133px;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}
.strl{
    position: absolute;
    top: 285px;
    right: 25px;
}
.ft{
    height: 10px;
    width: 20px;
    border-radius: 50px;
    background: #F7C35F;
   
}
.foot{
    padding-top: 1%;
}
.down1 button:hover{
    background: #F6D086;
    transition: 0.3s;
}
.down1 button:focus{
    background: #C58D21;
    transition: 0.3s;
}
.down1 button:active{
    background: #A16C06;
    transition: 0.3s;
}
.card:hover{
    background: #F7C35F;
    color: black;
    transition: 0.3s;
}
.card:focus{
    background: #6A8A6D;
    transition: 0.3s;
}
.card:active{
    background: #263C28;
    transition: 0.3s;
}
.card4:hover{
    border: 1px solid #F7C35F;
    transform: translateY(-25px);
}
.card4:focus{
    border: 1px solid #C58D21;
    transform: scale(1, 1.2);
}
.card4:active{
    border: 1px solid #A16C06;
    transform: scale(0.8);
}
.header{
    width: 100%;
    height: 110px;
    flex-shrink: 0;
    background: #334B35;
}
.nav2{
    width: 197.461px;
    height: 30.952px;
    flex-shrink: 0;
    padding-left: 241.13px;
    padding-top: 39.86px;
}
nav{
    display: inline;
    color: #FFF;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.nav{
    width: 802px;
    height: 33px;
    position: absolute;
    top: 39px;
    right: 267px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    list-style: none;
}
.nav1{
    width: 53px;
    height: 2px;
    padding-left: 387px;
}